$mainTransition: all 0.3s ease-in-out;
$border-color: #c0c0c0;
$header-height: 2rem;
$toolbar-height: 2.5rem;
$formula-height: 2rem;
$db-header-height: 4rem;
$db-new-height: 15rem;
$info-cell-width: 2.5rem;
$primary-color: #3c74ff;
